<h1>User info</h1>
<div class="profile-container">
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <h4 class="profile-name">name <%= @user.name %></h4>
  <h4 class="profile-introduction">introduction</h4>
  <% if @user.id == current_user.id %>
   <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<h1>New book</h1>
<%= form_with model:@book, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  
  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit '投稿' %>
  
<% end %>

<h1>Books</h1>
<table>
    <thread>
        <tr>
            <th>Title</th>
            <th>Opinipn</th>
        </tr>
    </thread>
    <tbody>
        <% @books.each do |book| %>
            <tr>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= book.title%>
              <% end %>
            </td>
                <td><%= book.body %></td>
            </tr>
        <% end %>
        </tbody>
    </table>        
    <%= paginate @books %>